/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Common Design  */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
}
main {
  padding: 0px 10%;
}
/* Navigation Bar Design  */
header {
  display: flex;
  justify-content: center;
}
.nav-bar {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}
.menu ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.menu ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
  margin-left: 34px;
}
.fa-cart-plus {
  font-size: 22px;
}

/* Hero Section   */

.hero-container {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.main-title {
  font-size: 52px;
  color: #3a3a3a;
  font-weight: 700;
  margin-bottom: 0px;
}
.main-description {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 40px;
  width: 90%;
}
.main-button {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #e02c6d;
  padding: 10px 20px;
  border-radius: 40px;
}
.fa-arrow-right {
  margin-left: 10px;
}
.hero-img {
  position: relative;
}
.hero-img img {
  position: absolute;
  right: 4%;
  top: 5%;
}
